#login{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

#login input{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#login h3{
    text-decoration-line: underline;
}

#main{
    font-family: arial;
    background-color: black;
}


.topnav {
    background-color: #310a0a;
    overflow: hidden;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    font-family: bleu;
    margin-bottom: 20px;
  }
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 20px;
}

.topnav a:hover {
background-color: rgb(255, 0, 0);
color: black;
}
.topnav a.active {
background-color: #ffffff;
color: black;
}

#left {
    width: 50%;
    float:left;
}



#right {
    width: 50%;
    float:right;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


 h1{
  font-family: bleu;
  color: white;
}

h3{
  font-family: bleu;
  color: white;
}

#boximg{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.Aimg img{
  margin-right: 0%;
  margin-left: 0%;
  max-height: 200px;
  max-width: 200px;
}

#itempageB{

}

#img3040{
  width: 50%;
  height: 50%;
  float: left;
}

#img3040 img{
  max-width: 250px;
  max-height: 250px;
  margin-right: auto;
  margin-left: 15%;
}

#desc{
  width: 50%;
  height: 50%;
  float: right;
}

#textd{
  height: 50%;
  float: left;
  margin-right: 15%;
  margin-left: 15%;
}

#auction h3{
  text-align: center;
  float: none;
}

#info dl{
  padding-left: 10%;
}

#Panier{
  text-align: center;
}
#Historique{
  text-align: center;
}
#Wishlist{
  text-align: center;
}

#trending{
  text-align: center;
}

#comingsoon{
  text-align: center;}

#buynow{
  text-align: center;}

#auctions{
  text-align: center;}

#venteperso
{
  text-align: center;
}
#achatperso
{
  text-align: center;
}
#recherche
{
  text-align: center;
}

tr{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

td{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.unselected{
  visibility: hidden;
}

.unselectedW{
  visibility: hidden;
}

.selectedW{
  visibility: inherit;
}

.selected{
  visibility: inherit;
}